.m-a {
  margin: 10px !important;
}
.p-t {
  padding-top: 20px !important;
}
#ttday .photo-bg-slide h1,
#ttday .photo-bg-slide h2,
#ttday .photo-bg-slide p
{
    color: #fff;
    text-shadow: 0 1px 1px #000
}
#title-slide .names {
    margin-top: 40px;
    border-top: 1px solid rgba(255,255,255, .4);
    padding-top: 30px;
    font-size: 1.0em;
    color: #fff;
    text-shadow: 0 1px 1px #000
}

#ttday blockquote {
    padding: 30px 30px;
}

.row {
    width: 100%;
    overflow: auto;
}
.col {
    float: left;
}
.col-1of2 { width: 50%; }
.col-1of4 { width: 25%; }
#ttday .image-no-border img {
    border: 0;
    box-shadow: none;
    background: none;
}
#ttday .relative {
    position: relative;
}

#ttday .tomato {
    position: absolute;
    top: 30%;
    left: 40%;
}

#ttday .inline-image { display:inline; border:0; box-shadow:none;vertical-align:middle; background:none; }
